{% extends 'base.html' %}
 {% import 'bootstrap/wtf.html' as wtf %}
  {%block styles%}
   {{ super() }}
{%endblock%}

{% block content %}
<div class="container">
<div style=" margin-top: 6rem; width:40vw; margin-bottom: 3rem; transform: translateX(50%)">
  {{wtf.quick_form(comment_form)}}
</div>

{% for comment in comments %}

  <div style="overflow-x: hidden">
    <div tyle="margin: 0 auto; margin-top: 6rem" class="row">
      <div class="col-md-6 col-md-offset-3">
      <p>{{comment.feedback}}</p><br>
      <p>{{comment.posted}}</p>
    </div>
  </div>
</div>

{% endfor %}
{% endblock %}