{% extends 'base.html' %}
 {% import 'macros.html' as macro%}

{%block styles%}
  {{ super() }}
{%endblock%}

<!-- content block -->
{% block content %}
<div class="container">
     <div class="col-md-12">
        <p class="text-left"><a class="btn -primary" href="{{url_for('.new_blog',id=blogs.category_id)}}">Post Blogs</a></p>
        <div class="well" style="background-color:burlywood">
          <h3>{{blogs.content}}</h3>
        </div>

        <!-- comments -->
        <div class="col-md-6 col-offset-1">
          <table>
            <tr>
              <td><h4 class="text-left"><a class="btn btn-round" href="{{url_for('.upvote',id=blogs.id)}}">Upvote <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>  </a></h4></td>
              <td>&nbsp;</td>
              <td><h4 class="text-left"><a class="btn btn-round" href="{{url_for('.downvote',id=blogs.id)}}">Downvote <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>  </a></h4></td>
              <td>&nbsp;</td>
              <td><h4 class="text-right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    Comments   <a class="btn btn-success" href="{{url_for('.post_comment',id=blogs.id)}}"> Add your comment</a></h4></td>
            </tr>
          </table>



         {% if comment %}
         {{ macro.displaySpecificBlog(comment)}}
         <hr>
         {%else%}
         <h3 class="text-center" style="color:black;">No comments </h3>
         {% endif %}
        </div>

    </div>
  </div>

{% endblock %}